/* All styles for your header Components live here */
/* body {
    display: flex;
  justify-content: center;
} */
.head-container {
    display: flex;
    height: 100px;
  padding: 10px;
  width: 100%;
}

   .img-logo {
    height: 50px;
    padding: 10px;
   }
.header-title {
    font-size: 14px;
  font-weight: 600;
  padding: 0 10px;
}
   .para-text {
       font-size: 14px;
   }

   .header-content {
       font-size: 4rem;
       font-weight: 600;


   }